.brand-font{
    font-family: 'Noto Sans', sans-serif;
}

/* for navbar */
.primary-menu li a{
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-top: 7px;
    /* padding: 7px; */
    /* margin-right: 10px; */
}
.primary-menu li a:hover{
    color: #e7cc2e;
    /* font-weight: bold; */
    font-size: 18px;
    margin-top: 7px;
    /* margin-right: 10px; */
}

.primary-menu li{
    padding-left: 4px;
    
}

/* dropdown-menu */
.dropdown:hover .dropdown-menu {
    display: block;
    padding: 0;
    margin: 0;
    background-color:#02542c;

}

/* for acrive menu */
.navbar-nav>.active>a {
    background-color:#103e23;
    color: white;
}

/* for cards */
.cards{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  /* padding: 15px 25px 15px 25px; */
  cursor: pointer;
  height: 350px;
}

.cards:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}



.flip-card {
    background-color: transparent;
    /* width: 300px; */
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: rgb(19, 80, 7);
    color: white;
    transform: rotateY(180deg);
  }

  /* for image in single page */
.img-repo img{
    max-width: 100%;
    height: auto;
}
/* for single page content*/
.single-page p{
    text-align: justify;
}

/* card in tv */
.tv-card{
    background-color: transparent;
    margin-bottom: 15px;
    /* max-width: 300px; */
    height: 280px;
    perspective: 1000px;
}
.tv-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 8px 12px 0 rgb(0 0 0 / 20%);
}
.tv-card:hover .tv-card-inner {
  transform: rotateY(180deg);
}
.tv-card-front, .tv-card-back {
  font-size: 14px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.tv-card-front {
  background-color: #ec1c24;
    color: #ffffff;
    padding-top: 10px;
}

.tv-card-back {
  background-color: #ffffff;
  color: #070707;
  transform: rotateY(180deg);
  padding: 30px;
}

/* Pagination */
.pagination {
  justify-content: center;
  align-items: center;
}
.pagination a {
  margin: auto 15px;
}
.pagination .current {
  padding: 0 10px;
  background-color: #1766c1;

  /* background-color: #03a9f4; */
  color: #fff;
  font-weight: bold;
}